/* app css stylesheet */
body {
        background-color: #e8e8e8 
}

#menu {
          color: black;
          opacity: .55;
}

#menu:hover {
          color:black;
          opacity: 100
} 

#menu_boton {
        background-color: DodgerBlue;
        padding: 10px;
}

#opciones {
        background-color: white;
        width: 250px;
        height: 800px;
        margin: 0;
        padding:0;
        
}

#logo{
        padding: 5px 5px 0px 20px;

}